<h3> Ваш заказ отправлен </h3>

<p>
  Уважаемый (ая) <%= @order.name %> </br>

  Администрация магазина благодарит Вас за недавний заказ. </br>

  Вы заказали следующий товар: </br>

</p>	

 <table>

   <%= render @order.line_items %>

</table>	

<p>
  Общая сумма заказа
  <%= number_to_currency(@cart.total_price, :unit => "грн. ", :separator => ",") %>
</p>

<p>
  Выбранная Вами форма оплаты
  <%= @order.paytype.pay_type %>
</p>

<p>
Когда Ваш заказ будет отправлен, мы пошлем вам по электронной почте
отдельное сообщение.
</p>

<p>
СЕЙЧАС МАГАЗИН РАБОТАЕТ В ТЕСТОВОМ РЕЖИМЕ !!!
</p>