<h3> Ваш заказ отправлен </h3>

<p>
  Это сообщение об отправке Вашего заказа:
</p>	

 <table>

   <tr> <th colspan="2"> К-во </th> <th> Описание </th> </tr>
   <%= render @order.line_items %>

</table>	