
  <tbody>
      <tr>
        <td><%= subgroup.name %></td>
        <td><%= subgroup.describe %></td>
        <td>
        
          <%= link_to t('.edit', :default => "Редактировать"),
                      edit_group_subgroup_path(@group, subgroup), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => "Удалить"),
                      [subgroup.group, subgroup],
                      :method => :delete,
                      data: { confirm: 'Вы уверены?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>

  </tbody>





