  <p>
    <strong>Наименование подгруппы:</strong>
    <%= subgroup.name %>
  </p>
 
  <p>
    <strong>Описание:</strong>
    <%= subgroup.describe %>
  </p>

  <p>
  <%= link_to 'Редактировать', edit_group_subgroup_path(@group, subgroup) %> 
  </p>

  <p>
  <%= link_to 'Удалить', [subgroup.group, subgroup],
               :confirm => 'Are you sure?',
               :method => :delete %>
  </p>