#example_4.example_content1
  #js_navigation= render_navigation(:expand_all => true, :renderer => :bootstrap)
  .content
    .breadcrumbs
  .clear_float

:javascript
  $(document).ready(function(){ 
    $("#js_navigation ul").superfish(); 
  });